.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

.ui.container {
  min-height: 100vh;
}

/*global styles*/

#no-display {
  display: none;
}

#white {
  color: white;
}

#blueButtonActions:hover,
#blueButtonActions:active {
  color: goldenrod;
}

#yellowButtonActions:hover,
#yellowButtonActions:active {
  color: #2185d0;
}
